@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

h1 {
    color: #5f0633;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    
}

.lead {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
#icons{
  font-size: 3rem;
  margin: 0 1rem;
}
















  
  
